################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApiPolizas/obj/Debug/netcoreapp3.1
/.vs/WebApiPolizas/FileContentIndex
/PolizaTest
